@import url('../../style.css');

.forgot-sec{
    flex: 1;
    min-height: 100vh;
    background: url('../images/background1.jpg') no-repeat center center fixed;
    background-size: cover;
    
}
.forgot-form{
    padding: 16px;
    border-radius: 12px;
    background-color: rgba(255, 255, 159, 0.5);
    box-shadow: 5px 5px rgba(255, 255, 159,0.8);
    
}
.forgot-form a{
    width: 33%;
    margin-top: 0.45rem;
    text-decoration: none;
    color: blueviolet;
}

.forgot-form a:hover{
    color: palevioletred;
}
.forgot-form h4{
    text-align: center;
    font-weight: 700;
    color: blueviolet;
}
.forgot-form label{
    color: rgba(28, 71, 77);
}
.forgot-form button{
    background-color: transparent!important;
    font-weight: 600;
    transition: all 0.5s 0.5s ease-in-out;
}

.forgot-form button:hover{
    background-color: blueviolet!important;
}