@import url('../../style.css');

.login-sec{
    flex: 1;
    min-height: 100vh;
    background: url('../images/background1.jpg') no-repeat center center fixed;
    background-size: cover;
}

/*.login-sec img{
    z-index: -1;
    position: absolute;
    object-fit: fill;
}*/
.login-form{
    padding: 16px;
    border-radius: 12px;
    background-color: rgba(255, 255, 159, 0.5);
    box-shadow: 5px 5px rgba(255, 255, 159,0.8);
    
}
.login-form a{
    width: 33%;
    margin-top: 0.45rem;
    text-decoration: none;
    color: blueviolet;
}

.login-form a:hover{
    color: palevioletred;
}
.login-form h4{
    text-align: center;
    font-weight: 700;
    color: blueviolet;
}
label{
    color: rgba(28, 71, 77);
}
.login-form button{
    background-color: transparent!important;
    font-weight: 600;
    transition: all 0.5s 0.5s ease-in-out;
}

.login-form button:hover{
    background-color: blueviolet!important;
}